$primary-color: #232323;
$secondary-color: #c6c6c6;
$colors: (
	"white": #fff,
	"black" : #000,
	"red" : #f00
);
.dark {
	$primary-color: lighten(#00a19a, 75%);
	$secondary-color: lighten(#f39200, 75%);
	$colors: (
		"white": #000,
		"black" : #fff
	);
}
$nav-bg: lighten($primary-color, 50%);
$nav-bg-dark: darken($primary-color, 20%);
$footer-bg: rgba(243, 146, 0, .25);
$button-bg: $secondary-color;
$form-field-border: #c4c4c7;
$form-field-focus-border: #737888;
$cart-border: $form-field-border;