@font-face {
	font-family: "Roboto";
	src: url("Fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "DM Sans";
	src: url("Fonts/dmsans/DMSans-Regular.ttf")
}
@font-face {
	font-family: "Antic Slab";
	src: url("Fonts/Antic_Slab/AnticSlab-Regular.ttf")
}